<!DOCTYPE html>
<html>
<head>
  <title>GifConsortiu</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<body>
  <nav>
<ul>
<%= link_to('all gifs', kits_path) %>
<%= link_to('categories', samplers_path) %>


<%= link_to('new category', new_sampler_path) %>
<%= link_to('new gif', new_kit_path) %>
</ul>
</nav>

<%= yield %>

</body>
</html>
