<%= form_for @ingredient do |f| %>
  <%= f.label :name, :autofocus => 'autofocus' %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :image %>
  <%= f.text_field :image %>
  <br>
  <%= f.label :measurement %>
  <%= f.text_field :measurement %>
  <br>
  <%= f.label :cost %>
  <%= f.text_field :cost %>
  <br>
    <% Ingredient.order(:name).each do |ingredient| %>
      <span><%= ingredient.name %></span>
      <%= check_box_tag 'recipe[ingredient_ids][]', ingredient.id, ingredient.in?(@recipe.ingredients) %>
    <% end %>
  <br>
  <%= f.submit %>
<% end %>