<!DOCTYPE html>
<html>
<head>
  <title>R20130214Cookbook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="left">
  <nav>
  <ul>
    <li>EA.TS</li><br>
    <li><%= link_to('books', books_path) %></li>
    <br>
    <li><%= link_to('recipes', recipes_path) %></li><br>
    <li><%= link_to('ingredients', ingredients_path) %></li><br>
     <li><%= link_to('add a book', new_book_path) %></li>
    <br>
    <li><%= link_to('add a recipe', new_recipe_path) %></li>
        <br>
    <li><%= link_to('add an ingredient', new_ingredient_path) %></li>
  </ul>
</nav>
</div>

<%= yield %>
</body>
</html>
