
<% @recipes.each do |recipe| %>
<section>
<ol>
  <li>
    <ul>
      <li><%= image_tag(recipe.image) %></li>
      <li><%= link_to(recipe.name, recipe) %></li>
      <li><%= recipe.cooktime %></li>
      <li><%= recipe.course %></li>
      <li><%= recipe.servingsize %></li>
      <li><%= recipe.instructions %></li>
    </ul>
  </li>
</ol>
</section>
<% end %>

